APP_ENV=development

PORT=8080
JWT_SECRET=secret
COOKIE_DOMAIN=noah-platform.thanayut.in.th

ACCOUNT_SERVER_URL=http://localhost:8081
AUTH_SESSION_SERVER_URL=http://localhost:8082
GOOGLE_CLIENT_ID=344543527533-lbcluulol6ujqoof44hep7nehr7r4nbt.apps.googleusercontent.com